@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.starter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: transform 1s ease;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;

  &.loaded {
    opacity: 1;
  }

  @media (max-width: 768px) {
    height: 70vh;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
    text-align: left;
    z-index: 1;
    padding: 0 1rem;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease-out;

    @media (max-width: 1024px) {
      transform: translate(-10%, -50%);
    }

    @media (max-width: 768px) {
      transform: translate(-5%, -50%);
      text-align: center;
    }

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      margin: 1rem 0;
      font-size: 2.1rem;
      letter-spacing: 0.05rem;
      color: #278164;
      transition: transform 1.5s ease, opacity 1.5s ease;
      opacity: 0;
      animation: fadeInText 1.5s ease-out forwards;
      animation-delay: 0.5s;

      @media (max-width: 1024px) {
        font-size: 1.6rem;
      }

      @media (max-width: 768px) {
        font-size: 1.4rem;
      }

      @media (max-width: 640px) {
        font-size: 1.2rem;
      }
    }
  }

  // Fade animation for text
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .full-screen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    z-index: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.3s;
    transform-origin: center center;
  }

  &.zoom-in {
    .full-screen-image {
      transform: scale(1.8);
    }
    
    .title {
      transform: translate(-15%, -50%) scale(1.8);
    }
  }

  // Optional Zoom-Out (not used in component now)
  .zoom-out {
    transform: scale(0.5);
    opacity: 0;

    h1 {
      padding-bottom: 1rem;
    }
  }
}
