@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.starter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: transform 1s ease;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;

  &.loaded {
    opacity: 1;
  }

  @media (max-width: 768px) {
    height: 65vh;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
    text-align: left;
    z-index: 1;
    padding: 0 1rem;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease-out;

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      margin: 1rem 0;
      font-size: 2.2rem;
      color: #278164;
      transition: transform 1.5s ease, opacity 1.5s ease;
      opacity: 0;
      animation: fadeInText 1.5s ease-out forwards;
      animation-delay: 0.5s;
    }

    @media (max-width: 1024px) {
      width: 90%;
      max-width: 600px;
      transform: translate(-10%, -50%);

      h1 {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 768px) {
      width: 90%;
      max-width: 600px;
      transform: translate(-50%, -50%);
      text-align: left;
      top: 70%;
      left: 30%;

      h1 {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 1.1rem;
        padding: 0 0.5rem;
      }
    }
  }

  .full-screen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    z-index: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.3s;
    transform-origin: center center;
  }

  &.zoom-in {
    .full-screen-image {
      transform: scale(1.6);

      @media (max-width: 768px) {
        transform: scale(1.2);
      }
    }

    .title {
      transform: translate(-15%, -50%) scale(1.5);

      @media (max-width: 768px) {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
