# Environment variables
.env
.env.*.local

# Node.js
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / System files
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp

# Coverage / testing
coverage/
.parcel-cache/

# Render deploy config
render.yaml
