@import "../../styles/contants.scss";

.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: $primary;
  .container {
    color: antiquewhite;
    .heading {
      flex-direction: column;
    }

    .skillsContainer .primaryText {
      font-size: 3rem;
      text-shadow: 0 0 5px rgba(224, 100, 5, 0.376);
      text-transform: uppercase;
      color: transparent;
      -webkit-background-clip: text; // Clip the background to the text
      background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #ffa500, #e7e7e7);
      background-clip: text; // Clip the background to the text
      font-weight: 700;
    }

    .skillsContainer p {
      @media (max-width: $sm) {
        margin: 0;
        font-size: .8rem;
      }
      margin-top: 4.5rem;
    }
    
    p {
      line-height: 50px;
      @media (max-width: $sm) {
        padding-top: 40px;
      }
    }

    .comments {
      @media (max-width: $sm) {
        padding: 0;
      }
      padding-top: 1rem;
      .slider :global {
        .slick-list {
          @media (max-width: $sm) {
            padding-top: 40px;
          }
          margin: 0 -7px;
          box-sizing: initial;
          padding: 80px 0px;
          overflow-y: visible;
          & .slick-slide > div {
            padding: 0 20px;
          }
          & .slick-slide.slick-active.slick-current + .slick-slide {
            @media (min-width: $lg) {
              transition: all 1000ms ease-out;
              scale: 1.1;
              transform: translateY(-30px);
            }
          }
        }
      }

      .comment {
        @media (max-width: $sm) {
          padding: 1rem;
        }
        box-shadow: rgb(0 0 0 / 5%) -3px 11px 13px 0px;
        padding: 2rem;
        display: flex !important;
        flex-direction: column;
        gap: 1rem;
        background: #faebd7;
        color: #0d2f3f;
        border-radius: 20px;
        position: relative;
        box-shadow: rgb(0 0 0 / 5%) -3px 11px 13px 0px;
        animation: fadeIn 0.5s ease-in-out;
        img {
          margin: auto;
          border-radius: 100%;
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          top: -2rem;
          left: 1rem;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
        }
        p {
          text-align: center;
          font-size: 0.9rem;
          line-height: 25px;
        }
        .line {
          width: 100%;
          border: 0.2px solid rgb(234, 234, 234);
        }
        .bio {
          > * {
            display: block;
            text-align: center;
          }
          > :nth-child(1) {
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
          > :nth-child(2) {
            font-size: 0.8rem;
            color: #278164;
          }
        }
      }
    }

    // New styles for skills with different colors
    .skills {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      .skill {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        margin: 0.5rem;
        color: antiquewhite;
        font-size: 0.8rem;
        animation: scaleUp 0.5s ease-in-out; 
      }
      .html { background-color: #E34C26; }
      .css { background-color: #663399; }
      .javascript { background-color: #F0DB4F; }
      .react { background-color: #61DBFB; }
      .nodejs { background-color: #a612b4; } // Node.js color
      .express { background-color: #000000; } // Express color
      .photoshop { background-color: #0d78c4; } // Photoshop color
      .illustrator { background-color: #FF9A00; } // Illustrator color
      .wordpress { background-color: #21759B; } // WordPress color
      .elementor { background-color: #0073AA; } 
    }
  }
}

// New keyframes for animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8); // Start smaller
    opacity: 0;
  }
  to {
    transform: scale(1); // Scale to normal size
    opacity: 1;
  }
}

.expertiseContainer {
  position: relative;
  text-align: left;
  font-family: "Arial", sans-serif;
  color: antiquewhite;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.outlineText {
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6);
  color: transparent;
  position: relative;
}

.overlayText {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  position: absolute;
  margin-left: 20%;
  top: 70%;
  transform: translateY(-50%);
  padding: 0 10px;
}

.gear {
  font-size: 2rem;
  margin-right: 5px;
}

.skillsGrid {
  @media (min-width: $md) {
    justify-content: center;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  gap: .5rem;
}

.skillCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  padding: .5rem;
  border-radius: 10px;
  font-size: .9rem;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease; // Added box-shadow transition
  cursor: pointer;
  animation: slideIn 1s ease;
}

.skillCard:hover {
  transform: translateY(-5px) scale(1.25) rotate(2deg);
  animation: slideIn 0.5s ease;
  background: #292929;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: 2.5rem;
  padding-right: .4rem;
}


@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}